.conti {
  display: flex;
}

.sidebar-db {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100vh;
  overflow: auto;
  transition: width 0.5s ease;
}

.content-db {
  padding: 10px;
  font-size: medium;
  flex: 1;
  position: absolute;
  /* width: 100%; */
  margin-right: 3px;
  transition: width 0.5s ease;
}

/* .sidebar-closed .content-db {
  margin-left: 0; Set margin-left to 0 when sidebar is closed
}

.sidebar-open .content-db {
  margin-left: 212px; Set margin-left to 212px when sidebar is open
} */

.content-db-hide {
  padding: 7px;
  font-size: medium;
  flex: 1;
  position: absolute;
}
.content-db-show {
  padding: 7px;
  font-size: medium;
  flex: 1;
  position: absolute;
  margin: 10px;
}

.produk-db {
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin: 5px;
}

div.produk-db:hover {
  border: 1px solid #777;
}

div.produk-db img {
  width: 100%;
  height: auto;
}

.desc-db {
  padding: 15px;
  text-align: center;
}