/* navBar.css */
/* .navBarC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: #393c4d;
    color: white;
    height: 60px;
  }
  
  .navBar-left {
    display: flex;
    align-items: center;
  }
  
  .navBar-logo {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  
  .navBar-right {
    display: flex;
    align-items: center;
  }
  
  .p-inputtext-sm {
    margin-right: 1rem;
  }
   */
  /* Add any other styling as needed */

  /* .App-Navbar {
    backgroundColor: "#393c4d";
    marginLeft: sidebarOpen ? 250px : '0'; // Adjust the width as needed
    transition: 'margin-left 0.5s ease', // Add a smooth transition effect
  }; */
  