.card-orders {
    background-color: beige;
    width: 70%; /* Sesuaikan lebar card sesuai kebutuhan */
    height: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 36px;
    margin-left: 25%;
}