.conti {
    display: flex;
  }
  
  .sidebar-p {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100vh;
    overflow: auto;
    transition: width 0.5s ease;
  }
  
  .content-p {
    padding: 10px;
    font-size: medium;
    flex: 1;
    position: absolute;
    /* width: 100%; */
    margin-right: 3px;
    transition: width 0.5s ease;
  }
  
  .content-p-hide {
    padding: 7px;
    font-size: medium;
    flex: 1;
    position: absolute;
  }
  
  .content-p-show {
    padding: 7px;
    font-size: medium;
    flex: 1;
    position: absolute;
    margin: 10px;
  }
  
  .produk-p {
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin: 5px;
  }
  
  div.produk-p:hover {
    border: 1px solid #777;
  }
  
  div.produk-p img {
    width: 100%;
    height: auto;
  }
  
  .desc-p {
    padding: 15px;
    text-align: center;
  }