
.container-regis-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.cardnih {
   background-color: #dbe3e9 !important; 
   width: 400px; /* Sesuaikan lebar card sesuai kebutuhan */
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

.button {
    margin-left: 120px;
}

.App-text {
    margin-bottom: 10px;
    margin-left: 90px;
}

.login-text {
    font-size: small;
}